:root {
    --card-padding: 0.75rem;
}

html, body {
    height: 100%;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica', 'Arial', sans-serif;
    font-size: 1em;
    line-height: 1.2;
    color: #222;
    letter-spacing: 0.01em;
    background-color: #F5F5F7;
}

h1, h2 {
    font-weight: normal;
    line-height: 1.3;
}

#root {
    height: 100%;
}

.board {
    display: flex;
}

@media (min-width: 48rem) {

    .board {
        padding: 1rem;
    }

}

.list {
    flex-shrink: 0;
    max-width: 25rem;
    width: 100%;
    padding: var(--card-padding);
}

.list__header {
    margin-bottom: var(--card-padding);
}

.list__header_item_count {
    display: inline-block;
    margin-left: 0.5rem;
    font-size: 1rem;
    line-height: 1;
    vertical-align: middle;
    padding: 0.25rem 0.5rem;
    color: #fff;
    text-align: center;
    border-radius: 1rem;
    background-color: #888;
}

.list__list {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    max-height: 80vh;
    overflow: auto;
}

.card {
    list-style: none;
    margin-bottom: var(--card-padding);
}

.card__link {
    display: block;
    padding: var(--card-padding);
    color: inherit;
    text-decoration: none;
    border-radius: 3px;
    border-left-width: 10px;
    border-left-style: solid;
    border-left-color: #F76087;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    word-break: break-word;
}

.authentication__loginwrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    margin: 0.25rem;
    padding: 1rem 1.25rem;
    font-family: inherit;
    font-size: inherit;
    font-weight: 600;
    line-height: 1;
    border: 0;
    cursor: pointer;
}

.button_authentication {
    color: #fff;
    border-left-width: 10px;
    border-left-style: solid;
    border-left-color: #3092f5;
    background-color: #0061C3;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
