html {
    box-sizing: border-box;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    padding: 1em;
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica', 'Arial', sans-serif;
    font-size: 1em;
    line-height: 1.2;
    color: #222;
    letter-spacing: 0.01em;
}

h1, h2 {
    margin: 0 0 1rem;
    font-weight: normal;
    line-height: 1.3;
}

ul {
    margin: 1rem 2rem;
}
